.sidebar-top{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #1E1F22;
    padding: 15px;
    color: #DBDEE1;
    height: 10%;
}
.sidebar-top:hover{
    background-color: #35373C;
}
.sidebar-top h3{
    color: #F1F2F4;
    font-weight: 500;
    font-size: 15px;
    flex: 1;
    margin-left: 5%;
}
.sidebar-top img{
    width: 40px;
}
.clear{
    display: none!important;
    margin-left: 5%!important;
    background-color: black!important;
    padding: 5px!important;
    border-radius: 40px;
    font-size: 30px!important;
}

@media screen and (max-width: 730px) {
    .clear{
        display: inline!important;
    }
}