.chat{
    width: 75%;
    height: 100%;
    background-color: #313338;
}

.chat-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 90%;
}
.chat-bottom-ctn{
    height: 85%;
    width: 100%;
    padding: 0px 30px;
    overflow: scroll;
    word-break: break-word;
}
.chat-bottom-ctn::-webkit-scrollbar{
    display: none;
}
.icon{
    color: #80848E;
    margin: 0px 10px;
}
.icon:hover{
    color: #DBDEE1;
}
.input-part{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-input{
    margin-top: 10px;
    padding: 10px 20px;
    width: 90%;
    background-color: #383A40;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.message-input input{
    color: #80848E;
    background: none;
    border: none;
    font-size: 16px;
    flex: 1;
    width: 55px;
}
.message-input input:focus{
    outline: none;
}
.sendButton{
    /* padding: 0!important; */
    background: none;
    border: none;
}
.sendButton .icon{
    color:rgb(173, 173, 173);
    background-color: none;
}
.welcome-text{
    font-weight: 700;
    font-size: 48px;
    margin-top: 40px;
    color: #DBDEE1;
    text-align: center;
}
.welcome-text img{
    margin-top: 20px;
    height: 220px;
}
.channel-transition{
    opacity: 0;
  transform: translateY(-20px);
}
.EmojiPickerReact{
    height: 420px!important;
    width: 320px!important;
}
.picker{
    position: absolute;
    bottom: 12%;
    right: 30px;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 730px) {
    .chat {
      width: 100%;
      border-radius: 8px;
    }
}